#aboutMain{
    padding-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    
}
.aboutSections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 5%;
    /* height: px; */
    background-color: rgba(25, 40, 71, 0.2);
    color: rgb(15, 12, 12);
    border-radius: 100px;

}

.aboutSections h2{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background-color: rgba(237, 242, 252, 0.1);
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(248, 248, 248);
}
.aboutSections p{
  font-weight: bold;
  text-shadow: 1px 2px 2px rgb(248, 248, 248);
}

.ApopupRtoL {
    
    animation: ApopupRtoL-up 1s ease-out forwards;
  }

  @keyframes ApopupRtoL-up {
    0% {
      transform: translateX(10%) translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%) translateY(0);
      opacity: 1;
    }
  }



  .ApopupLtoR {
    
    animation: ApopupLtoR-up 1s ease-out forwards;
  }

  @keyframes ApopupLtoR-up {
    0% {
      transform: translateX(-10%) translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%) translateY(0);
      opacity: 1;
    }
  }

  @media (max-width:768px){
    #aboutMain{
      padding-top: 55px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 30px;
      height: 800px;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      
      
  }
  
  
  
  .aboutSections h2{
    
      font-size: 20px;
  }
  
  }

