#form{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 129, 129, .5);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 100px;
  padding: 30px;

}

#form input{
    border-radius: 100px;
    text-align: center;
    width: 250px;
}
#form label{
    text-align: center;
    color:black;
    text-shadow: 1px 1px 3px white;
    font-weight: bold;
    
}

#form textarea {
    border-radius: 100px;
    text-align: center;
    padding:20px;
}

#submit{
    background-color: rgb(60, 9, 243);
    border-radius: 100px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border-style: none;
    padding: 10px;
   /* width: 10px; */
   /* display: flex; */
   /* justify-content: center; */
   /* align-items: center; */
   
   

}

#contactTitle{
    margin-top: 100px;
    font-size: 100;
    text-align: center;
}

@media (max-width:768px){
    #form{
        padding: 10px;
       
        margin-left: 5%;
        margin-right: 5%;
        /* margin-top: 0px; */
       margin-bottom: 200px;
        
      
      }
      
      #form input{
        
          width: 60%;
      }
      #form label{
        font-size: 10px;
        
          
          
      }
      
      #form textarea {
          width: 90%;
          padding:15px;
      }
      #contactTitle{
        margin-top: 55px;
        font-size: 70;
    }
      
      
}